@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Inter';
    height: 100%;
    background-color: #868686;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.calculator-body {
    background-color: black;
    border: 3px solid #B6C5D8;
    border-radius: 50px;
    flex-direction: column;
    margin: 20% 20%;
    min-width: 320px;
    min-height: 650px;
    justify-content: flex-end;
}

.screen {
    flex-direction: column;
    background-color: black;
    width: 250px;
    border-radius: 10px;
    align-self: center;
    color: white;
}

.upper-screen,
.lower-screen {
    margin: 0;
    align-self: flex-end;
    font-size: 45px;
    text-align: end;
    font-weight: 200;
    inline-size: 250px;
    overflow-wrap: break-word
}

#grid {
    display: grid;
    min-height: 340px;
    min-width: 270px;
    margin: 0px auto;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 0;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.key {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 1.7rem;
    padding: 0;
    margin: 2px;
    font-family: 'Inter';
    text-align: center;
    vertical-align: middle;
}

.key:hover {
    cursor: pointer;
}

.orange:active {
    background-color: #D2CCD6;
    color: #F69906;
    transition: 0.07s;
}

.darkgrey:active {
    background-color: #736F7A;
    transition: 0.07s;
}

.lightgrey:active {
    background-color: #B6BDDE;
    transition: 0.07s;
}

.special {
    grid-column-start: span 2;
    border: none;
    border-radius: 50px;
    height: 60px;
    width: auto;
    font-size: 1.7rem;
    margin: 2px;
    font-family: 'Inter';
}

.darkgrey {
    background-color: #313131;
    color: white;
}

.orange {
    background-color: #F69906;
    color: white;
    font-size: 2.2rem;
}

.lightgrey {
    background-color: #9F9F9F;
}

.n0 {
    text-align: left;
    padding-left: 20px;
}

hr {
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10px;
    height: 2px;
    background-color: white;
}